Some point discuss the Downref nits

before WGLC

  ** Downref: Normative reference to an Informational RFC: RFC 6781
https://datatracker.ietf.org/doc/rfc6781/referencedby/

  ** Downref: Normative reference to an Informational RFC: RFC 7583
https://datatracker.ietf.org/doc/rfc7583/referencedby/

  ** Downref: Normative reference to an Informational RFC: RFC 8901
https://datatracker.ietf.org/doc/rfc8901/referencedby/

I'm OK with the Downrefs, just work out the particulars. 


Thanks for spotting these! Going to address in #25.